@{
    ViewData["Title"] = "Home Page";
}
@if (!User.Identity.IsAuthenticated)
{
    <section class="d-flex flex-column gap-1 bg-dark text-white" 
    style="margin: 20px auto; padding: 20px; border-radius: 10px"
    > 
        <h2 style="padding: 15px; border-bottom: solid 2px white">Welcome to PANDA Delivery Services.</h2>
        <p><a asp-controller="Users" asp-action="Login">Login</a> if you have an account.</p>
        <p><a asp-controller="Users" asp-action="Register">Register</a> if you don't.</p>
    </section>
}else
{
    @if (User.IsInRole("User"))
    {
        <h2 class="text-center border-bottom border-black border-2 pb-3">Hello, @Model.UserName!</h2>
    }
    else
    {
        <h2 class="text-center border-bottom border-black border-2 pb-3">Hello,  Administrator @Model.UserName!</h2>
    }
        <section class="wrapper">
        <article class="packageWrapper">
            <h2>Pending</h2>
            <div class="w-25 h-25 border-black border-2">
                @foreach (var package in ViewBag.Packages)
                {
                    @if (package.Status == StatusType.Pending)
                    {
                         <div>
                             <h3>@package.Description</h3>
                            <a class="btn bg-dark text-white"
                               asp-action="Details"
                               asp-controller="Packages"
                               asp-route-id="@package.Id">
                                Details
                            </a>
                         </div>   
                    }
                }
            </div>
        </article>
        <article class="packageWrapper">
            <h2>Shipped</h2>
            <div class="w-25 h-25 border-black border-2">
                @foreach (var package in ViewBag.Packages)
                {
                    @if (package.Status == StatusType.Shipped)
                    {
                        <div>
                            <h3>@package.Description</h3>
                            <a class="btn bg-dark text-white"
                               asp-action="Details"
                               asp-controller="Packages"
                               asp-route-id="@package.Id">
                                Details
                            </a>
                        </div>
                    }
                }
            </div>
        </article>
        <article class="packageWrapper">
            <h2>Delivered</h2>
            <div class="border-black border-2 border-radius-5">
                @foreach (var package in ViewBag.Packages)
                {
                    @if (package.Status == StatusType.Delivered)
                    {
                        <div class="onePackageWrapper">
                            <h3>@package.Description</h3>
                            <a class="btn bg-dark text-white"
                               asp-action="OnAcquire"
                               asp-controller="Receipts"
                               asp-route-packageId="@package.Id">
                                Acquire
                            </a>
                        </div>
                    }
                }
            </div>
        </article>
    </section>
}